.root {
  -fx-background-image: url("sunset.jpg");
  -fx-background-position: center;
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
}

.label {
  -fx-text-fill: lightgray;
  -fx-font-size: 16px;
  -fx-font-family: Verdana;
}

.choice-box {
  -fx-background-color: antiquewhite;
}

.text-field {
  -fx-background-color: antiquewhite;
}

.table-view {
  -fx-background-color: antiquewhite;
}

.list-view {
  -fx-background-color: antiquewhite;
}

.button {
  -fx-background-color: antiquewhite;
  -fx-border-color: lightgray;
}